export(calculateIRLs_jointMLE)
export(calculatePercentFacing)
export(compareSampleGroups)
export(dbCreateRepeatsTable)
export(DEXSeqAnalysis)
export(edgeRAnalysis)
export(makeDEXSeqTables)
export(makeEdgeRTables)
export(mapATR)
export(mergeSampleData)
export(processLastAlignedBase)
export(RepeatsInRegion)
